footer
	.container-fluid.p-0
		.footer-block.col-lg-4
			.block-content
				.content
					.ckeditor.desc-item-footer-block-1
						h3.tt-l
							|Liên hệ
						ul
							li
								p +84 28 3636 7887
							
							li
								p testo@testo.vn
							
							li
								p Digi Technologies Co. Ltd.K04.23-Kingston Residence, 146 Nguyen Van Troi Ward 8, Phu Nhuan DistrictHo Chi Minh City
		.footer-map
			img(src="./assets/images/image-content/map-img.png", alt="")