footer
	.container
		.row
			.col-lg-8.col-xl-7
				h2 Liên hệ
				.row
					.col-lg-4
						.contacts
							p 
								span.mdi.mdi-phone
								span +84 28 3636 7887
							p 
								span.mdi.mdi-email
								span testo@testo.vn
							p
								span.mdi.mdi-map-marker-radius
								span Digi Technologies Co. Ltd. K04.23-Kingston Residence, 146 Nguyen Van Troi Ward 8, Phu Nhuan District, Ho Chi Minh City
					.col-lg-8.col-right
						.top
							nav.footer-nav
								a(href="#") Sản phẩm
								a(href="#") Ứng dụng
								a(href="#") Giải pháp
								a(href="#") Dịch vụ
								a(href="#") Nổi bật
								a(href="#") Về chúng tôi
						.bottom
							.social
								a(href="#")
									img.svg(src="./assets/icons/facebook.svg")
								a(href="#")
									img.svg(src="./assets/icons/twitter.svg")
								a(href="#")
									img.svg(src="./assets/icons/youtube.svg")
								a(href="#")
									img.svg(src="./assets/icons/linkedin.svg")
							.registered
								img.svg(src="./assets/icons/registered.svg")
							.logo
								img.svg(src="./assets/logo.svg")
	.footer-map
		iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1642913176465!2d106.6683416152604!3d10.798726011733464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752949d4d0ee5d%3A0x3672a60f1b3a1052!2zQ8O0bmcgdHkgVE5ISCBDw7RuZyBuZ2jhu4cgRGlnaQ!5e0!3m2!1svi!2s!4v1583346078679!5m2!1svi!2s', frameborder='0', style='border:0;', allowfullscreen='')
	.copyright
		p © 2020  Testo SE & Co. KGaA