header
	.container.header-container
		.row.no-gutters.ai-c.header-row
			.logo
				a(href="index.html")
					img.lazyload.blur-up(data-src="./assets/logo.svg")
			.toggle-menu.mobile
			.main-nav
				ul.nav-list
					li.nav-item
						// Menu Level 1
						a.nav-link(href="danh-sach-san-pham.html") sản phẩm
						// Sub Menu Level 1
						ul.sub-menu
							.back.mobile Trở về
							// Sub Menu Level 2
							li.nav-item
								// Menu Level 2
								a.nav-link(href="#") Level 2
								// Sub Menu Level 2
								ul.sub-menu
									.back.mobile Trở về
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 1
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 1
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 1
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 1
							li.nav-item
								a.nav-link(href="#") Level 2
								// Sub Menu Level 2
								ul.sub-menu
									.back.mobile Trở về
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 2
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 2
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 2
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Level 3 - 2
							li.nav-item
								a.nav-link(href="#") Level 2
							li.nav-item
								a.nav-link(href="#") Level 2
					li.nav-item
						a.nav-link(href="danh-sach-ung-dung.html") ứng dụng
					li.nav-item
						a.nav-link(href="danh-sach-giai-phap.html") giải pháp
					li.nav-item
						a.nav-link(href="dich-vu.html") dịch vụ
					li.nav-item
						a.nav-link(href="noi-bat.html") nổi bật
					li.nav-item
						a.nav-link(href="gioi-thieu.html") về chúng tôi
					li.nav-item
						a.nav-link(href="lien-he.html") liên hệ
					li.nav-item.mobile
						select(name="")
							option(selected disabled hidden) ngôn ngữ
							option(value="0") tiếng anh
							option(value="0") tiếng việt
			.search
				.label
					img.lazyload.blur-up(data-src="./assets/icons/search.svg", alt="", srcset="")
			.language.dekstop
				ul
					li.active
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/vn.svg", alt="")
					li
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/en.svg", alt="")
