header
	.container.header-container
		.row.no-gutters.ai-c.header-row
			// LOGO
			.logo
				a(href="index.html")
					img.lazyload.blur-up(data-src="./assets/logo.svg")
			// NÚT ĐÓNG MỞ MENU MOBILE
			.toggle-menu.mobile
			.main-nav
				ul.nav-list
					li.nav-item
						// Menu Level 1
						a.nav-link(href="danh-sach-san-pham.html") Products
						// Sub Menu Level 1
						ul.sub-menu
							.back.mobile Trở về
							// Sub Menu Level 2
							li.nav-item
								// Menu Level 2
								a.nav-link(href="#") Emission measurement
								// Sub Menu Level 2
								ul.sub-menu
									.back.mobile Trở về
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Flue gas analyzer
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Industrial emission measurements
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Particulate matter measurement
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Leak detectors
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Smoke tester
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Nanoparticles measuring instruments
							li.nav-item
								a.nav-link(href="#") CO₂, CO, light, sound, rpm
								// Sub Menu Level 2
								ul.sub-menu
									.back.mobile Trở về
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") CO₂ measuring instruments
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") CO measuring instruments
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Luxmeters
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Sound level meters
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Tachometer, stroboscopes
									// Menu Level 3
									li.nav-item
										a.nav-link(href="#") Multifunction measuring instrument
							li.nav-item
								a.nav-link(href="#") Data loggers
							li.nav-item
								a.nav-link(href="#") Electrical measurement
							li.nav-item
								a.nav-link(href="#") Humidity measurement
							li.nav-item
								a.nav-link(href="#") Cooking oil and pH
							li.nav-item
								a.nav-link(href="#") Pressure measurement
							li.nav-item
								a.nav-link(href="#") Flow measurement
							li.nav-item
								a.nav-link(href="#") Thermal Imaging Cameras
							li.nav-item
								a.nav-link(href="#") Temperature measurement
							li.nav-item
								a.nav-link(href="#") Transmitters
							li.nav-item
								a.nav-link(href="#") Smart Probes
					li.nav-item
						a.nav-link(href="danh-sach-ung-dung.html") ứng dụng
					li.nav-item
						a.nav-link(href="danh-sach-giai-phap.html") giải pháp
					li.nav-item
						a.nav-link(href="dich-vu.html") dịch vụ
					li.nav-item
						a.nav-link(href="noi-bat.html") nổi bật
					li.nav-item
						a.nav-link(href="gioi-thieu.html") về chúng tôi
					li.nav-item
						a.nav-link(href="lien-he.html") liên hệ
					li.nav-item.mobile
						select(name="")
							option(selected disabled hidden) ngôn ngữ
							option(value="0") tiếng anh
							option(value="0") tiếng việt
			.search
				.label
					img.lazyload.blur-up(data-src="./assets/icons/search.svg", alt="", srcset="")
			.language.dekstop
				ul
					li.active
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/vn.svg", alt="")
					li
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/en.svg", alt="")
