header
<<<<<<< HEAD
	p this is Header
=======
	.container.header-container
		.row.no-gutters.ai-c.header-row
			.logo
				a(href="index.html")
					img.lazyload.blur-up(data-src="./assets/logo.svg")
			.main-nav
				ul.nav-list
					li.nav-item
						a(href="danh-sach-san-pham.html").nav-link sản phẩm
					li.nav-item
						a(href="#").nav-link ứng dụng
					li.nav-item
						a(href="#").nav-link giải pháp
					li.nav-item
						a(href="#").nav-link dịch vụ
					li.nav-item
						a(href="#").nav-link nổi bật
					li.nav-item
						a(href="#").nav-link về chúng tôi
					li.nav-item
						a(href="#").nav-link liên hệ
			.search
				.label
					img.lazyload.blur-up(data-src="./assets/icons/search.svg", alt="", srcset="")
			.language
				ul
					li.active
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/vn.svg", alt="")
					li
						a(href="#")
							img.lazyload.blur-up(data-src="./assets/icons/en.svg", alt="")
<<<<<<< HEAD
>>>>>>> hung
=======
>>>>>>> hung
