.product-detail {
	margin-top: 80px;

	.slide-img {
		margin-bottom: 80px;
	}

	// 2 SLIDER PRDUCT DETAIL
	.slider-product-detail {
		display  : flex;
		flex-wrap: wrap;

		.review-image {
			-ms-flex-preferred-size: 0;
			-ms-flex-positive      : 1;
			-webkit-box-flex       : 1;
			flex-basis             : 0;
			flex-grow              : 1;
			max-width              : 100%;

			position    : relative;
			margin-right: 30px;

			.img {
				height: 535px;
			}
		}

		.thumbnail-image {
			-ms-flex        : 0 0 100%;
			-webkit-box-flex: 0;
			flex            : 0 0 260px;
			max-width       : 260px;

			.swiper-slide {
				cursor : pointer;
				opacity: .5;

				&.swiper-slide-thumb-active {
					opacity: 1;
				}
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			width     : 70px;
			height    : 70px;
			margin-top: 0;
			transform : translateY(-50%);

			&:after {
				content        : '';
				width          : 100%;
				height         : 100%;
				background-size: cover;
			}
		}

		.swiper-button-next {
			&:after {
				background-image: url(../assets/icons/next-slider-prodcut-detail.svg);
			}
		}

		.swiper-button-prev {
			&:after {
				background-image: url(../assets/icons/prev-slider-prodcut-detail.svg);
			}
		}
	}

	// THẨM ĐỊNH SẢN  PHẨM
	.position-product {
		margin-top: 30px;

		.name {
			margin-bottom: 30px;
			color        : #545454;
		}

		.description {
			max-height: 365px;
			overflow-y: auto;
		}
	}

	.mobile-list-tab-open {
		background-color: #ffffff;
		border          : 1px solid #648798;
		padding         : 12px;
		line-height     : 24px;
	}

	// TAB THÔNG TIN CHI TIẾT SẢN PHẨM
	.block-tab-information-detail {
		width : 1088px;
		margin: 0 auto;

		.list-tab {
			display        : flex;
			justify-content: center;
			list-style-type: none;
			padding-left   : 0;

			.item {
				position      : relative;
				margin-right  : 75px;
				color         : #707070;
				font-weight   : 700;
				text-transform: uppercase;
				padding-bottom: 5px;

				&:last-child {
					margin-right: 0;
				}

				&:after {
					content   : '';
					position  : absolute;
					width     : 0;
					height    : 2px;
					bottom    : 0;
					left      : 50%;
					transform : translateX(-50%);
					background: #E4B354;
					transition: .3s all ease-in-out;
				}

				&.active {
					&:after {
						width: 100%;
					}
				}

				@media (min-width: 1025px) {
					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
			}
		}
	}

	// REST ALL CUSTOM PADDING
	@media (max-width: 1439.98px) {
		.slider-product-detail {
			.review-image {
				.img {
					height: 360px;
				}
			}

			.thumbnail-image {
				flex     : 0 0 160px;
				max-width: 160px;
			}
		}

		.position-product {
			.description {
				max-height: 250px;
			}
		}

		// TAB THÔNG TIN CHI TIẾT SẢN PHẨM
		.block-tab-information-detail {
			width : 100%;
			margin: 0;
		}
	}

	@media (max-width: 1024.98px) {
		margin-top: 40px;

		.slide-img {
			margin-bottom: 0;
		}

		// THẨM ĐỊNH SẢN  PHẨM
		.position-product {
			margin-bottom: 30px;
		}

		.position-product {
			.description {
				overflow-y: unset;
				max-height: unset;
			}
		}

		.block-tab-information-detail {
			.list-tab {
				display       : none;
				flex-direction: column;
				border-left   : 1px solid #648798;
				border-right  : 1px solid #648798;
				border-bottom : 1px solid #648798;

				.item {
					margin-right  : 0;
					font-weight   : 300;
					padding       : 12px;
					border-bottom : 1px solid #dedede;
					text-transform: none;

					&:last-child {
						border-bottom: 0;
					}

					&:after {
						content: none;
					}
				}
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-top: 25px;

		.code {
			font-size: 14px;
		}
	}

	@media (max-width: 575.98px) {
		.block-title {
			margin-bottom: 15px;
		}

		.slider-product-detail {
			.review-image {
				margin-right    : 0;
				-ms-flex        : 0 0 100%;
				-webkit-box-flex: 0;
				flex            : 0 0 100%;

				.img {
					height: 250px;
				}
			}

			.thumbnail-image {
				margin-top: 10px;
				flex      : 0 0 100%;
				max-width : 100%;
			}

			.swiper-button-next,
			.swiper-button-prev {
				display: none;
			}
		}
	}
}