aside.aside-filter
	.mobile-filter-open.mobile Nhấp để chọn kiểu lọc
	.filter-option-parent
		.filter-option-container
			// TYPE FILTER #1
			.filter-option
				p.option-title Lọc theo tham số
				.filter-entries
					ul
						li
							a(href="#") Air temperature measurement
						li
							a(href="#") Immersion and penetration temperature measurement
						li
							a(href="#") Non-contact temperature measurement (infrared)
						li
							a(href="#") Surface temperature measurement
			// TYPE FILTER #2
			.filter-option
				p.option-title Lọc theo loại sản phẩm
				.filter-entries
					ul
						li
							a(href="#") Portable devices - Operation via smartphone
						li
							a(href="#") Portable devices - with connectable probes
						li
							a(href="#") Portable devices - with solid probes
			// TYPE FILTER #3
			.filter-option
				p.option-title Lọc theo nhóm mục tiêu
				.filter-entries
					ul
						li
							a(href="#") Food
						li
							a(href="#") HVACR
						li
							a(href="#") Industry, museum, etc.
			// TYPE FILTER #1
			.filter-option
				p.option-title Lọc theo ứng dụng
				.filter-entries
					ul
						li
							a(href="#") Buildings & construction
						li
							a(href="#") Commissioning
						li
							a(href="#") Operations, maintenance and service
						li
							a(href="#") Production & quality assurance
						li
							a(href="#") Research, developement & laboratories
						li
							a(href="#") Storage and transportation