.list-item-category-product-level-4
	-for(i=10;i<13;i++)
		.item-category-product-level-4
			a(href="san-pham-chi-tiet.html")
				figure
					.img.ov-h
						img.ofcv(src="./assets/images/products/"+i+".png", alt="")
					figcaption
						h3.lcl.lcl-1.name Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod AN
						span.lcl.lcl-1.code 72DSEEKJS
						.description
							.ckeditor.desc-item-category-product-level-4
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
								ul
									li
										p Lorem Ipsum is simply dummy text of the
									li
										p Printing and typesetting industry.
									li
										p Lorem Ipsum has been the industry's standard
									li
										p Dummy text ever since the 1500s
						button.btn.view-more.fw-700.fs-i Chi tiết
