.dv-1 {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 100px;

	.list-block {
		padding: 0 130px;

		.item-list {
			width: 100%;

			figure {
				margin-bottom: 30px;
				transition: transform .5s;
				transform-style: preserve-3d;

				.card-front,
				.card-back {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					backface-visibility: hidden;
					transform-style: preserve-3d;
					display: grid;
					align-content: center;
				}

				.card-front {
					.img {
						position: relative;
						height: 165px;

						img {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}

					figcaption {
						transform: translateZ(9rem);
						order: 2;

						h3 {
							text-align: center;
						}
					}
				}

				.card-back {
					transform: rotateY(.5turn);
					background-color: #fff;

					.card-body {
						transform: translateZ(6rem);
					}
				}
			}

			&:hover .card-content {
				transform: rotateY(.5turn);
			}
		}

		@media(max-width: 1025px) {
			padding: 0;
		}

	}
}