section.list-product
	.container
		// GIỚI THIỆU TRANG DANH SÁCH SẢN PHẨM - CẤP 1
		.introduce
			.block-title.mb-30px.wow.fadeInLeft(data-wow-delay=".2s")
				h3.tt-u.fw700.color-gray dụng cụ đo lường
			.description-list-product
				.ckeditor.desc-list-product
					p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
					p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. discovered the undoubtable source.
					p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
		// DACH SÁCH SẢN PHẨM - CẤP 1
		.list-item-products
			.block-title.ta-c.line-center-90.mb-40px.wow.fadeInLeft(data-wow-delay=".2s")
				h3.tt-u.fw700.color-gray sản phẩm
			.row
				-for(i=1;i<10;i++)
					.item-product.col-lg-4.col-sm-6.wow.fadeIn(data-wow-delay=".2s")
						a(href="danh-muc-san-pham-cap-2.html")
							figure.hover-style-1
								.img.ov-h
									img.ofcv.lazyload.blur-up(data-src="./assets/images/products/"+i+".png", alt="alt")
								figcaption
									h5.lcl.lcl-1.fw-700.tt-u Lorem Ipsum is simply
									p.lcl.lcl-2.fw-300 Lorem Ipsum is simply dummy text of the printing and mak typesetting industry. Lorem Ipsum has been the made.
								button.btn.view-more.fw-700.tt-u xem thêm
		.read-more
			a(href="#")
				img(src="./assets/icons/read-more-button.svg", alt="alt")