.nb-2{
	position: relative;
    width: 100%;
	margin-left: auto;
	padding-bottom: 50px;
	overflow: hidden;
	.tech-sec{
		width: 100%;
		background-color: #DAE4EA;
		padding: 0;
		.box-left{
			position: relative;
			.img{
				height: 620px;
			}
			@media(max-width: 1438.98px){
				.img{
					height: 460px;
				}
			}
			@media(max-width: 1024.98px){
				.img{
					height: 335px;
				}
			}
			@media(max-width: 768.98px){
				.img{
					height: 320px;
				}
			}
		}
		.box-right{
			width: 100%;
			position: relative;
			.content{
				width: 600px;
				margin: 0 auto;
				overflow: hidden;
				.tech-content{
					max-height: 550px;
				}
			}
		}
	}
}