.nb-4 {
    position: relative;
	width: 100%;
	padding-bottom: 50px;
    margin-left: auto;
    .tuyen-dung {
		width: 100%;
		padding: 0 138px;
		.line {
			h3 {
				&::after {
					content: '';
					width: 50%;
					position: absolute;
					left: 0;
					bottom: 0;
					transform: translateX(0);
				}
			}
		}
        .left-box {
            width: 100%;
            height: 450px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @media(max-width: 1025px) {
                height: auto;
            }
        }
        .right-box {
            position: relative;
            .content {
                max-width: 630px;
                margin: 0 auto;
                padding-left: 20px;
                .desc {
                    max-height: 370px;
                    overflow: hidden;
                    margin-bottom: 15px;
                    .title {
                        width: 100%;
                        a {
                            font-size: 16px;
                            color: #545454;
                            font-weight: 600;
                            text-decoration: none;
                        }
                        span {
                            font-size: 16px;
                            font-weight: 600;
                            color: #FF9E0C;
                            margin-top: 20px;
                        }
                        @media(max-width: 1025px) {
                            a {
                                font-size: 14px;
                                color: #fff;
                            }
                            span {
                                font-size: 14px;
                            }
                        }
                    }
                    .text-content {
                        max-width: 630px;
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: #545454;
                            margin: 10px 0 10px;
                        }
                        ul {
                            padding: 0;
                            li {
                                margin-bottom: 10px;
                                font-size: 16px;
                                color: #545454;
                            }
                        }
                        @media(max-width: 1025px) {
                            p {
                                font-size: 14px;
                                color: #fff;
                            }
                            ul {
                                li {
                                    font-size: 14px;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 1024.98px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0;
                background: rgba($color: #000000, $alpha: .5);
                .content {
                    max-width: 100%;
                    height: 100%;
                    padding: 50px;
                    display: flex;
                    align-items: center;
                    .desc {
                        max-height: 100%;
                    }
                }
            }
            @media (max-width: 768px) {
                .content {
                    max-width: 100%;
                    padding: 20px;
                    .desc {
                        max-height: 100%;
                    }
                }
            }
		}
		.slide-hr{
			position: relative;
			.swiper-button-prev {
				width: 70px;
				height: 70px;
				top: 50%;
				left: -35px;
				transform: translateY(-50%);
				z-index: 999;
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url(../assets/icons/prev-slider-product.svg);
				}
				@media(max-width: 1025px) {
					display: none;
				}
			}
			.swiper-button-next {
				width: 70px;
				height: 70px;
				top: 50%;
				transform: translateY(-50%);
				right: -35px;
				z-index: 999;
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url(..\assets\icons\next-slider-product.svg);
				}
				@media(max-width: 1025px) {
					display: none;
				}
			}
		}
		
		@media(max-width: 1439.98px){
			padding: 0;
		}
	}
	@media(max-width: 1024.98px){
		padding-bottom: 30px;
	}
}