section.dv-1
    .container
        .list-block
            .row
                -for(i=1;i<7;i++)
                    .col-lg-4.col-md-6.col-12
                        .item-list
                            a(href="")
                                figure
                                    img.icon(src="./assets/icons/dv-"+i+".svg", alt="")
                                    figcaption.item-name
                                        span CUSTOMER SERVICE
                .col-lg-4.col-md-6.col-12
                    .item-list
                        a(href="")
                            figure
                                img.icon(src="./assets/icons/customer.svg", alt="")
                                figcaption.item-name
                                    span CUSTOMER SERVICE
                .col-lg-4.col-md-6.col-12
                    .item-list
                        a(href="")
                            figure
                                img.icon(src="./assets/icons/Notebook.svg", alt="")
                                figcaption.item-name
                                    span CUSTOMER SERVICE
                .col-lg-4.col-md-6.col-12
                    .item-list
                        a(href="")
                            figure
                                img.icon(src="./assets/icons/calibration.svg", alt="")
                                figcaption.item-name
                                    span CUSTOMER SERVICE
                .col-lg-4.col-md-6.col-12
                    .item-list
                        a(href="")
                            figure
                                img.icon(src="./assets/icons/custom.svg", alt="")
                                figcaption.item-name
                                    span CUSTOMER SERVICE
                .col-lg-4.col-md-6.col-12
                    .item-list
                        a(href="")
                            figure
                                img.icon(src="./assets/icons/Download.svg", alt="")
                                figcaption.item-name
                                    span CUSTOMER SERVICE