section.dv-1
	.container
		.list-block
			.row
				-for(i=1;i<7;i++)
					.col-lg-4.col-md-6.col-12.item-list
						.card
							.card__content
								.card__front
									h3.card__title The Fair
									p.card__subtitle Time for some fun
								.card__back
									h3.card__title Back__card
									p.card__body This would be some longer text that gives a description of the things from the other side I guess
