section.dv-1
	.container
		.list-block
			.row
				-for(i=1;i<7;i++)
					.col-lg-4.col-md-6.col-12.item-list
						.item-card
							a(href="dichvu-chitiet.html")
								figure.front-card
									.img.ov-h
										img.blur-up.lazyloaded(src="./assets/icons/dv-"+i+".svg", alt="")
									figcaption
										h3.ta-c CUSTOMER SERVICE
								.detail
									.block-title.line
										a(href="dichvu-chitiet.html")
											h3.color-gray
												|DỊCH VỤ
											h5.tt-l.color-gray.tt-u
												|Lorem Ipsum is simply dummy text 
									.decs
										.ckeditor.desc-applied
											p.fw-400.tt-c.color-gray
												|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.