extends _components/_layout/_layout.pug

block var
	- let title = 'Dịch vụ-Chi tiết';
	- let bodyClass = 'dichvuchitet-page';

block banner,breadcrumb
	include .\_components\_layout\_breadcrumb
block main
	include .\_components\dichvu-chitiet\dv-ct-1.pug
	include .\_components\dichvu-chitiet\dv-ct-2.pug
	include .\_components\dichvu-chitiet\dv-ct-3.pug
	include .\_components\dichvu-chitiet\dv-ct-4.pug
	include .\_components\dichvu-chitiet\dv-ct-5.pug
block scripts