extends _components/_layout/_layout.pug

block var
	- let title = 'Liên Hệ';
	- let bodyClass = 'lienhe-page';

block banner,breadcrumb
block main
	include .\_components\lien-he\lh-1.pug
block scripts