section.a-1
	.container-fluid.p-0
		.block-title.line-center-50.color-gray.ta-c.mb-30px.wow.fadeInUp(data-wow-delay=".2s")
			h3 VỀ TESTO
		.image-content.wow.fadeInLeft(data-wow-delay=".2s")
			.image.ov-h.col-lg-6.col-md-6.col-12.p-0
				img.ofcv.blur-up.lazyloaded(src="./assets/images/banner/about-info-1.png", alt="")
			.content.col-lg-6.col-md-6.col-12
				.ckeditor.desc-about-block-1
					h3 Lorem Ipsum is simply dummy text
					h4 Lorem Ipsum is simply dummy text
					p.lcl.lcl-5
						|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
		.image-content.wow.fadeInRight(data-wow-delay=".2s")
			.content.col-lg-6.col-md-6.col-12.p-0
				.ckeditor.desc-item-about-block-1
					p.lcl.lcl-2
						|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
					ul
						li
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						
						li
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry
						
						li
							p Contrary to popular belief, Lorem Ipsum is not simply random text.
						
						li
							p Lorem Ipsum is not simply random text.
			.image.ov-h.col-lg-6.col-md-6.col-12.p-0
				img.ofcv.blur-up.lazyloaded(src="./assets/images/banner/about-info-2.png", alt="")
