section.a-2
	.container
		.member-block.m-auto
			.block-title.line-center-50.color-gray.ta-c.mb-30px
				h3 THÀNH VIÊN
			.member-content
				.swiper-container.member-slide
					.swiper-wrapper
						-for(i=1; i<4; i++)
							.swiper-slide.slide-box
								.img-slide
									img(src="./assets/images/slide/member-"+i+".png", alt="")
								.slide-text.m-auto
									h2.lcl.lcl-1 MR. DENNIS KAM
									p.lcl.lcl-1 Lorem ipsum dolor sit amet
				.swiper-button-next
				.swiper-button-prev