section.a-2
	.container
		.block-title.line.color-gray.ta-c.mb-30px
			h3 THÀNH VIÊN
		.row
			.col-lg-10.m-auto
				.swiper-container.member-slide
					.swiper-wrapper
						.swiper-slide
							.slide-box
								.img-slide
									img(src="./assets/images/slide/member-1.png", alt="")
								.slide-text
									h2 MR. DENNIS KAM
									p Lorem ipsum dolor sit amet
						.swiper-slide
							.slide-box
								.img-slide
									img(src="./assets/images/slide/member-2.png", alt="")
								.slide-text
									h2 MR. DENNIS KAM
									p Lorem ipsum dolor sit amet
						.swiper-slide
							.slide-box
								.img-slide
									img(src="./assets/images/slide/member-3.png", alt="")
								.slide-text
									h2 MR. DENNIS KAM
									p Lorem ipsum dolor sit amet
				.swiper-button-next
				.swiper-button-prev