section.a-4
	.container
		.job-content
			.block-title.line-center-50.color-gray.ta-c.mb-30px
				h3 CÔNG VIỆC CỦA TESTO
			.row
				.col-lg-6.col-md-6.left-box
					.img-video
						img(src="./assets/images/banner/about-4.png", alt="")
						.icon-play
							a(data-fancybox href="https://www.youtube.com/watch?v=0IcNCkFXv2c&t=7s&ab_channel=Testo")
								img(src="./assets/icons/play.svg", alt="")
				.col-lg-6.col-md-6.ai-c.d-f.right-box
					.content
						.title 
							a(href="")
								|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod AN
						.title-sud
							span Lorem ipsum
						p.lcl.lcl-2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						ul.mb-30px
							li Lorem Ipsum is simply dummy text of the.
							li printing and typesetting industry.
							li Lorem Ipsum has been the industry's standard.
							li Dummy text ever since the 1500s
						a(href="")
								.btn.view-more.fw-700.tt-u.mt-5 XEM THÊM