.block-4
	.container
		.list-icon-solution-detail-block-4
			-for(z=4;z<8;z++)
				.item
					a(href="#")
						figure
							.img.ov-h
								img.ofcv(src="./assets/icons/icon-solution-"+z+".svg", alt="")
							figcaption.ta-c
								p.lcl.lcl-1.color-gray.tt-u.fw-700 Tuân thủ
		.block-title
			h3.color-main.tt-u.fw-700 Lợi ích của bạn thông qua quản lý chất lượng kỹ thuật số với nhà hàng Testo Saveris:
			time.fw-700.fs-i.color-gray 12/2/2010
		.block-video
			figure
				a(data-fancybox href="https://youtu.be/itxHe9DUEXQ")
					.img.oh-h.isVideo
						img.ofcv(src="./assets/images/solutions/video.png", alt="")