.block-3
	.container
		.slider-solution-detai-block-3
			.swiper-container
				.swiper-wrapper
					-for(x=1;x<3;x++)
						.swiper-slide
							a(href="#")
								figure
									.img.ov-h
										img.ofcv(src="./assets/images/solutions/slider-block-3_"+x+".png", alt="")
									figcaption
										h3 Lorem Ipsum is simply dummy text
										.desc.ov-h
											p.lcl.lcl-3.color-gray Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
										button.btn.view-more.fw-700.fs-i Chi tiết
			.swiper-button-prev
			.swiper-button-next