.block-5
	.container
		.block-title.ta-c.wow.fadeInDown(data-wow-delay=".2s")
			h3.color-gray.tt-u.fw-700 góc chuyên gia
		.list-expert-corner
			.row
				-for(c=1;c<5;c++)
					.item-expert-corner.col-lg-3.col-sm-6.wow.fadeIn(data-wow-delay=".4s")
						.block-item-general
							.item-product
								a(href="san-pham-chi-tiet.html")
									figure.hover-style-1
										.img.ov-h
											img.ofcv.lazyload.blur-up(data-src="./assets/images/applied/"+c+".png", alt="")
										figcaption
											h5.lcl.lcl-1.fw-700.tt-u.ta-c Lorem Ipsum