.block-2.container
	.block-title.wow.fadeInDown(data-wow-delay=".2s")
		h3.color-gray.fw-700.tt-u Giải pháp kỹ thuật số liền mạch của chúng tôi cho chất lượng sản phẩm tốt nhất trong nhà hàng của bạn:
	.row.list-best-solution.list-item
		-for(j=1;j<4;j++)
			.block-item-general.item-best-solution.col-lg-4.col-md-6.wow.fadeInUp(data-wow-delay=".2s")
				.item-product
					a(href="san-pham-chi-tiet.html")
						figure.hover-style-1
							.img.ov-h
								img.ofcv.lazyload.blur-up(data-src="./assets/images/applied/"+j+".png", alt="")
							figcaption
								h5.lcl.lcl-1.fw-700.tt-u.ta-c Lorem Ipsum is simply