.block-1.container
	.introduce
		p.color-gray Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
	.block-title.wow.fadeInLeft(data-wow-delay=".2s")
		h3.color-gray.fw-700.tt-u Chuỗi lạnh của bạn trong nháy mắt
	.list-icon-block-1-solution-detail
		-for(i=1;i<4;i++)
			.item.wow.fadeInLeft(data-wow-delay=".2s")
				a(href="#")
					figure.ta-c
						img(src="./assets/icons/icon-solution-"+i+".svg", alt="", srcset="")
						figcaption
							p.lcl.lcl-1.color-gray.fw-700 Minh bạch hơn