.ofcv {
	width          : 100%;
	height         : 100%;
	object-fit     : cover;
	object-position: center;
	font-family    : 'object-fit: cover, object-position: center';
	background-size: cover;
}

.ofct {
	width          : 100%;
	height         : 100%;
	object-fit     : contain;
	object-position: center;
	font-family    : 'object-fit: contain, object-position: center';
	background-size: contain;
}

.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazyloaded {
		filter: blur(0);
	}
}

.clearfix {
	&:after {
		content: '';
		display: table;
		clear  : both;
	}
}

.lcl {
	overflow          : hidden;
	display           : -webkit-box;
	text-overflow     : ellipsis;
	-webkit-box-orient: vertical;

	&-1 {
		-webkit-line-clamp: 1;
	}

	&-2 {
		-webkit-line-clamp: 2;
	}

	&-3 {
		-webkit-line-clamp: 3;
	}
}

.block-title {
	.icon-title {
		img {
			margin-right: 15px;
		}
	}

	h3 {
		display  : inline-block;
		font-size: 30px;
	}
	
	&.line {
		h3 {
			position      : relative;
			padding-bottom: 5px;

			&:after {
				content   : '';
				position  : absolute;
				left      : 50%;
				bottom    : 0;
				transform : translateX(-50%);
				background: #E4B354;
				width     : 90%;
				height    : 5px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.icon-title {
			img {
				width : 30px;
				height: auto;
			}
		}

		h3 {
			font-size: 18px;
		}

		p {
			font-size: 10px;
		}
	}
}

.block-banner {
	.swiper-pagination {
		.swiper-pagination-bullet {
			width           : 15px;
			height          : 15px;
			border          : 2px solid #ffffff;
			opacity         : 1;
			border-radius   : 50%;
			background-color: map-get($mau, main);
			transition      : all .2s ease-in-out;
			margin          : 0 15px;

			&.swiper-pagination-bullet-active {
				background-color: map-get($mau, main-2);
			}
		}
	}
}

.slider-product {
	position: relative;

	figure {
		.img {
			height: 235px;
		}

		figcaption {
			background: #DAE4EA;
			padding   : 20px;

			h4 {
				color        : #545454;
				margin-bottom: 20px;
			}

			p {
				font-weight  : 200;
				margin-bottom: 20px;
				text-align   : left;
			}
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		width    : 70px;
		height   : 70px;
		top      : 50%;
		transform: translateY(-50%);

		&:after {
			content          : '';
			width            : 100%;
			height           : 100%;
			background-size  : cover;
			background-repeat: no-repeat;
		}
	}

	.swiper-button-prev {
		left: -35px;

		&:after {
			background-image: url(../assets/icons/prev-slider-product.svg);
		}
	}

	.swiper-button-next {
		right: -35px;

		&:after {
			background-image: url(../assets/icons/next-slider-product.svg);
		}
	}

	@media (max-width: 1100px) {
		figure {
			.img {
				height: auto;
			}
		}

		.swiper-button-prev,
		.swiper-button-next {
			display: none;
		}
	}
}

.isVideo {
	position: relative;

	&:before {
		content         : '';
		position        : absolute;
		top             : 50%;
		left            : 50%;
		background-image: url(../assets/icons/play.svg);
		width           : 70px;
		height          : 50px;
		transform       : translate(-50%, -50%);
		z-index         : 1;
	}
}

.ckeditor {
	&.desc-index-3 {
		p {
			color        : #707070;
			margin-bottom: 30px;
			font-weight  : 200;

			&:last-child {
				margin-bottom: 0;
			}

		}

		@media (max-width: 1024.98px) {
			p {
				color: #ffffff;
			}
		}

		@media (max-width: 767.98px) {
			p {
				font-size    : 12px;
				margin-bottom: 10px;
			}
		}
	}

	&.desc-applied {
		p {
			font-weight: 400;
			color      : #707070;
			font-size: 16;
		}

		@media (max-width: 767.98px) {
			p {
				font-size: 14px;
			}
		}
	}

	&.desc-index-5 {
		p {
			color      : #707070;
			font-weight: 200;
		}

		ul {
			list-style  : none;
			padding-left: 0;
			margin-top  : 45px;

			li {
				position     : relative;
				padding-left : 25px;
				margin-bottom: 20px;

				h4 {
					font-weight: 700;
					color      : map-get($mau, main);
				}

				p {
					font-weight  : 300;
					color        : #707070;
					border-bottom: 2px solid #E4B354;
				}

				&:after {
					content          : '';
					position         : absolute;
					left             : 0;
					top              : 7px;
					width            : 12px;
					height           : 11px;
					background-image : url(../assets/icons/checked.svg);
					background-size  : cover;
					background-repeat: no-repeat;
				}
			}
		}

		@media (max-width: 1850px) {
			p {
				overflow          : hidden;
				display           : -webkit-box;
				text-overflow     : ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
			}

			ul {
				margin-top: 15px;
			}
		}

		@media (max-width: 1440px) {
			p {
				-webkit-line-clamp: 2;
			}

			ul {
				li {
					margin-bottom: 10px;
				}
			}
		}

		@media (max-width: 1024.98px) {
			p {
				-webkit-line-clamp: 4;
			}

			ul {
				display: none;
			}
		}

		@media (max-width: 767.98px) {
			p {
				font-size: 12px;
			}
		}
	}

	&.desc-index-6 {
		p {
			color        : #707070;
			margin-bottom: 30px;
			font-weight  : 200;
			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (max-width: 1024.98px) {
			p {
				overflow          : hidden;
				text-overflow     : ellipsis;
				display           : -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				margin-bottom     : 5px;
			}
		}

		@media (max-width: 767.98px) {
			p {
				font-size: 12px;
			}
		}
	}

	&.desc-list-product {
		p {
			color        : #707070;
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (max-width: 1024.98px) {
			p {
				margin-bottom: 5px;
			}
		}

		@media (max-width: 767.98px) {
			p {
				font-size: 14px;
			}
		}
	}
}

.hover-style-1 {
	.img {
		position: relative;

		img {
			transition: opacity 0.35s, transform 0.35s;
			transform : scale3d(1.05, 1.05, 1);
		}

		&:before {
			content       : '';
			position      : absolute;
			top           : -10px;
			left          : 0;
			width         : 100%;
			height        : 100%;
			background    : rgba(255, 255, 255, 0.5);
			transition    : transform .6s;
			transform     : scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
			pointer-events: none;
			z-index       : 10;
		}
	}

	@media (min-width: 1025px) {
		&:hover {
			.img {
				img {
					opacity  : 0.6;
					transform: scale3d(1, 1, 1);
				}

				&:before {
					transform: scale3d(2.2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
				}
			}
		}

		@media (max-width: 767.98px) {
			p {
				font-size    : 12px;
				margin-bottom: 10px;
			}
		}
	}

	&.desc-applied {
		p {
			font-weight: 300;
			color      : #707070;
		}

		@media (max-width: 767.98px) {
			p {
				font-size: 14px;
			}
		}
	}

	&.desc-index-5 {
		p {
			color      : #707070;
			font-weight: 200;
		}

		ul {
			list-style  : none;
			padding-left: 0;
			margin-top  : 45px;

			li {
				position     : relative;
				padding-left : 25px;
				margin-bottom: 20px;

				h4 {
					font-weight: 700;
					color      : map-get($mau, main);
				}

				p {
					font-weight  : 300;
					color        : #707070;
					border-bottom: 2px solid #E4B354;
				}

				&:after {
					content          : '';
					position         : absolute;
					left             : 0;
					top              : 7px;
					width            : 12px;
					height           : 11px;
					background-image : url(../assets/icons/checked.svg);
					background-size  : cover;
					background-repeat: no-repeat;
				}
			}
		}

		@media (max-width: 1850px) {
			p {
				overflow          : hidden;
				display           : -webkit-box;
				text-overflow     : ellipsis;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
			}

			ul {
				margin-top: 15px;
			}
		}

		@media (max-width: 1440px) {
			p {
				-webkit-line-clamp: 2;
			}

			ul {
				li {
					margin-bottom: 10px;
				}
			}
		}

		@media (max-width: 1024.98px) {
			p {
				-webkit-line-clamp: 4;
			}

			ul {
				display: none;
			}
		}

		@media (max-width: 767.98px) {
			p {
				font-size: 12px;
			}
		}
	}

	&.desc-index-6 {
		p {
			color        : #707070;
			margin-bottom: 30px;
			font-weight  : 200;

			&:last-child {
				margin-bottom: 0;
			}
		}

		@media (max-width: 1024.98px) {
			p {
				overflow          : hidden;
				text-overflow     : ellipsis;
				display           : -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				margin-bottom     : 5px;
			}
		}

		@media (max-width: 767.98px) {
			p {
				font-size: 12px;
			}
		}
	}
}
.limit-2{
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}
.limit-4{
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
}