.block-1
	.container
		.block-item
			.row.ai-c
				.col-sm-6
					a(data-fancybox href="https://youtu.be/itxHe9DUEXQ")
						.img.ov-h.isVideo
							img.ofcv.lazyload.blur-up(data-src="./assets/images/image-content/4.png", alt="", srcset="")
				.col-sm-6
					.description
						.ckeditor.desc-category-product-level-3-block-1
							h3 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod AN
							h4 Lorem ipsum
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry.
							p . Lorem Ipsum is simply dummy text of the
							p . Lorem Ipsum is simply dummy text of the
							p . Lorem Ipsum is simply dummy text of the