.block-4
	.image-content
		.content
			.ckeditor.desc-category-product-level-2-block-4
				h3 Lorem Ipsum is simply dummy text
				h4 Lorem Ipsum is simply dummy text
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
				h4 Lorem Ipsum is simply dummy text
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
		.image.ov-h
			img.ofcv.lazyload.blur-up(data-src="./assets/images/image-content/3.png", alt="", srcset="")
	.image-content
		.image.ov-h
			img.ofcv.lazyload.blur-up(data-src="./assets/images/image-content/4.png", alt="", srcset="")
		.content.mr-auto
			.ckeditor.desc-category-product-level-2-block-4
				h3 Lorem Ipsum is simply dummy text
				h4 Lorem Ipsum is simply dummy text
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.
				h4 Lorem Ipsum is simply dummy text
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.The standard chunk of Lorem Ipsum.