.block-2
	.container
		.block-title.wow.fadeInLeft(data-wow-delay=".2s")
			h3.tt-u.color-gray.fw-700 Bạn muốn đo như thế nào? Nhiệt kế và nhiệt kế hồng ngoại của chúng tôi
		.block-item
			.row
				-for(i=1;i<4;i++)
					.item-category-product-level-3-block-2.col-lg-4.col-sm-6.wow.fadeIn(data-wow-delay=".4s")
						.block-item-general
							a(href="danh-muc-san-pham-cap-4.html")
								figure.hover-style-1
									.img.ov-h
										img.ofcv.lazyload.blur-up(data-src="./assets/images/products/"+i+".png", alt="")
									figcaption
										h5.lcl.lcl-1.fw-700.tt-u.ta-c Lorem Ipsum is simply
							.description
								p.lcl.lcl-3.ta-c Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.