section.c-t-4
	.container-fluid.p-0
		.block-item
			.image-content.wow.fadeInUp(data-wow-delay=".2s")
				.content.col-lg-6.col-md-6.col-12.p-0
					.desc
						.ckeditor.desc-served-detail-block-4.mb-30px
							h3 Lorem Ipsum is simply dummy text
						.ckeditor.desc-served-detail-block-4.mb-30px
							h4.tt-c Lorem Ipsum
							p.lcl.lcl-3
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						.ckeditor.desc-served-detail-block-4
							h4.tt-cLorem Lorem Ipsum
							p.lcl.lcl-3
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
				.image.ov-h.col-lg-6.col-md-6.col-12.p-0
					img.ofcv.blur-up.lazyloaded(src="./assets/images/banner/ct-1.png", alt="")
			.image-content.wow.fadeInUp(data-wow-delay=".2s")
				.image.ov-h.col-lg-6.col-md-6.col-12.p-0
					img.ofcv.blur-up.lazyloaded(src="./assets/images/banner/ct-2.png", alt="")
				.content.col-lg-6.col-md-6.col-12.p-0
					.desc
						.ckeditor.desc-served-detail-block-4.mb-30px
							h3 Lorem Ipsum is simply dummy text
						.ckeditor.desc-served-detail-block-4.mb-30px
							h4.tt-c Lorem Ipsum
							p.lcl.lcl-3
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						.ckeditor.desc-served-detail-block-4
							h4.tt-cLorem Lorem Ipsum
							p.lcl.lcl-3
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.