section.c-t-6
	.container
		.download-block
			.block-title.color-gray.ta-l.mb-30px.tt-u.wow.fadeInDown(data-wow-delay=".2s")
				h3 Tải xuống phổ biến từ Testo
			.dowload-content.wow.fadeInUp(data-wow-delay=".2s")
				.box-left.col-lg-6.col-12.p-0
					.swiper-container.download-softwaer
						.swiper-wrapper
							-for(i=1; i<5; i++)
								.swiper-slide
									.image.ov-h(data-getheight)
										img.ofcv.blur-up.lazyloaded(src="./assets/images/slide/download-slide.png", alt="")
					.swiper-button-next
					.swiper-button-prev
				.box-right.col-lg-6.col-12.p-0
					.content(data-setheight style="max-height: 450px;")
						.desc
							.ckeditor.desc-item-dow-load
								h3 Lorem ipsum
								ul
									li
										a(href="https://static-int.testo.com/media/3d/c1/7a0969cd8d55/DataControl.exe") Software DataControl (EXE, 188'067 KB)
									li
										a(href="https://static-int.testo.com/media/23/1e/b5a29f502174/testo-ComSoft-Basic-5.exe") Software ComSoft Basic (EXE, 185'663 KB)
									li
										a(href="https://static-int.testo.com/media/ef/c9/ea3e0c2ed2c2/testo-Comsoft-Software-Basic-5-Instruction-manual.pdf") Instruction manual ComSoft Basic (PDF, 1.9 MB)
									li
										a(href="https://static-int.testo.com/media/13/b0/c579c1bdc843/testo-USB-driver-Application-information.pdf") Driver Testo usb (EXE, 1'624 KB)
									li
										a(href="https://static-int.testo.com/media/fc/56/459a18776e2a/testo-EasyHeat-software.exe") Application information Testo usb driver (PDF, 1.2 MB)
									li
										a(href="https://static-int.testo.com/media/c5/1c/55cec7054dd8/testo-EasyKool-software.exe") Software IRSoft (EXE, 313'947 KB)
									li
										a(href="https://static-int.testo.com/media/24/75/c20d9e9a1aae/testo-606-1-Instruction-manual.pdf") Configuration testo 184 T3 (PDF, 272 KB)