.solution-soft-wear-3{
	margin-left: auto;
	margin-bottom: 50px;
	.block-item-solution{
		padding: 0 200px;
		.item-solution{
			.item-product{
				width: 100%;
				.img{
					width: 100%;
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
			@media(max-width: 768.98px){
				margin-bottom: 20px;
			}
		}
		@media(max-width: 1438.98px){
			padding: 0;
		}
	}
}