section.lh-1
	.contact-section
		.container
			.row
				.col-lg-6.col-md-6
					.contact-form
						.form-title
							h2 LIÊN HỆ VỚI CHÚNG TÔI
						form(action="")
							input.form-control(type="text" placeholder="Họ & tên")
							input.form-control(type="text" placeholder="Email")
							input.form-control(type="text" placeholder="Số điện thoại")
							textarea.form-control(name="", cols="30", rows="10" placeholder="Nội dung")
							button.btn-form GỬI
				.col-lg-5.col-md-6.contact-info
					.desc.ckeditor
						h2 TESTO
						ul
							li 
								.icon
									img(src="./assets/icons/phone-icon.png", alt="")
								p.info +84 28 3636 7887
							li 
								.icon
									img(src="./assets/icons/mail-icon.png", alt="")
								p.info testo@testo.vn
							li
								.icon
									img(src="./assets/icons/location-icon.png", alt="")
								p.info Digi Technologies Co. Ltd. K04.23-Kingston Residence, 146 Nguyen Van Troi Ward 8, Phu Nhuan DistrictHo Chi Minh City
