.a-1{
	position: relative;
    width: 100%;
	float: left;
	padding-bottom: 50px;
	.info-testo{
		width: 100%;
		padding: 0;
		.info-banner{
			width: 100%;
			
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			@media(max-width: 1025px){
				height: auto;
			}
		}
		.content{
			width: 100%;
			height: 100%;
			padding: 100px 50px 50px 50px;
			background-color: #DAE4EA;
			.title-content{
				font-size: 16px;
				font-weight: 700;
				color: #545454;
			span{
				font-size: 16px;
				font-weight: 600;
				color: #FF9E0C;
			}
				figcaption{
					margin-top: 20px;
					p{
						font-size: 16px;
						font-weight: 400;
						color: #707070;
						line-height: 30px;
					}
					@media(max-width: 1025px){
						p{
							font-size: 14px;
						}
					}
				}
				@media(max-width: 1025px){
					h3,
					span{
						font-size: 14px;
					}
				}
			}
			.list-item{
				p{
					font-size: 16px;
					font-weight: 400;
					color: #545454;
				}
				ul{
					margin-top: 20px;
					li{
						list-style-image: url(..\assets\img\icons\checked.png);;
						margin-top: 20px;
						font-size: 16px;
						font-weight: 400;
						color: #545454;
					}
					@media(max-width: 1025px){
						padding: 0 20px;
						li{
							font-size: 14px;
						}
					}
				}
				@media(max-width: 1025px){
					p{
						font-size: 14px;
					}
				}
			}
			@media(max-width: 1025px){
				padding: 20px 20px;
			}
		}
	}
	@media(max-width: 1025px){
		padding-bottom: 30px;
	}
}