.block-1
	.container
		// TITLE
		.block-title.mb-15px.wow.fadeInLeft(data-wow-delay=".2s")
			h3.color-main.fw-700.tt-u Hệ thống sưởi, thông gió, điều hòa không khí, điện lạnh
		// ĐOẠN TEXT
		.description
			.ckeditor.desc-category-applied-level-2-block-1
				h5 Lorem ipsum dolor
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
		// DANH SÁCH SẢN PHẨM DANH MỤC ỨNG DỤNG CẤP 2
		.list-category-applied-level-2
			.row.block-item-general
				-for(i=5;i<11;i++)
					.item-category-applied-level-2.col-lg-4.col-md-6.wow.fadeIn(data-wow-delay=".2s")
						.item-product
							a(href="danh-muc-ung-dung-cap-3.html")
								figure.hover-style-1
									.img.ov-h
										img.ofcv.lazyload.blur-up(data-src="./assets/images/applied/"+i+".png", alt="")
									figcaption
										h5.lcl.lcl-1.fw-700.tt-u.ta-c Lorem Ipsum is simply