.nb-3{
	position: relative;
    width: 100%;
	float: left;
	padding-bottom: 50px;
	.list-sanpham{
		width: 100%;
		.line{
			h3{
				&::after{
					content: '';
					width: 50%;
					position: absolute;
					bottom: 0;
					transform : translateX(-50%);
				}
			}
			
		}
		.list-item{
			position: relative;
			margin-bottom: 25px;
			figure{
				width: 100%;
				overflow: hidden;
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					-webkit-transform: scale(1);
					transform: scale(1);
					-webkit-transition: .5s ease-in-out;
					transition: .5s ease-in-out;
					&:hover{
						-webkit-transform: scale(1.1);
						transform: scale(1.1);
					}
					@media (max-width: 1025px) {
						pointer-events: none;
					}
				}
				figcaption{
					width: 100%;
					height: 50px;
					background-color: #807E7E;
					text-align: center;
					display: grid;
					align-items: center;
					position: absolute;
					bottom: 0;
					left: 0;
					p{
						font-size: 16px;
						font-weight: 600;
						color: #fff;
					}
				}
			}
		}
	}
	@media(max-width: 1025px){
		padding-bottom: 20px;
	}
}