section.nb-1
	.container
		.block-title.line-left-50.color-gray.ta-l.mb-50px
			h3 TIN KHUYẾN MÃI
		.new-promotion
			.swiper-container.new-slide
				.swiper-wrapper
					-for(i=1;i<4;i++)
						.swiper-slide
							.row
								.col-lg-6
									.left-box
										img.blur-up.lazyload.ofcv(src="./assets/images/slide/noi_bat1.png", alt="")
								.col-lg-6.ai-c.right-box.d-f
									.content
										.desc
											.ckeditor.desc-index-3.mb-30px
												.title 
													a(href="") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod AN
													br
													span Lorem ipsum
												.text-content
													p.limit-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
													ul
														li Lorem Ipsum is simply dummy text of the.
														li printing and typesetting industry.
														li Lorem Ipsum has been the industry's standard.
											a(href="#")
												.btn.view-more.fw-700.tt-u Xem Thêm
			.swiper-button-prev