section.nb-2
	.tech-sec
		.container-fluid
			.row
				.col-md-6.p-0.desktop.box-left.wow.fadeInRight(data-wow-delay=".2s")
					.img.ov-h(data-getheight)
						img.ofcv.ls-is-cached(src="./assets/images/banner/n-2.png", alt="")
				.col-md-6.p-0.box-right.wow.fadeInLeft(data-wow-delay=".2s" data-setheight)
					.content
						.block-title.line-left-50.color-gray.ta-l.mb-30px
							h3 CÔNG NGHỆ ĐO LƯỜNG
						.tech-content.row
							.tech-block.col-md-6.col-6
								figure
									.image.ov-h
										img(src="./assets/icons/tech.svg", alt="")
									figcaption
										h3 Lorem ipsum 
										p.lcl.lcl-1 Aenean massa. Cum sociis Theme et natoque 
							.tech-block.col-md-6.col-6
								figure
									.image.ov-h
										img(src="./assets/icons/tech-2.svg", alt="")
									figcaption
										h3 Lorem ipsum 
										p.lcl.lcl-1 Aenean massa. Cum sociis Theme et natoque
							.tech-block.col-md-6.col-6
								figure
									.image.ov-h
										img(src="./assets/icons/tech-3.svg", alt="")
									figcaption
										h3 Lorem ipsum 
										p.lcl.lcl-1 Aenean massa. Cum sociis Theme et natoque
							.tech-block.col-md-6.col-6
								figure
									.image.ov-h
										img(src="./assets/icons/tech-4.svg", alt="")
									figcaption
										h3 Lorem ipsum 
										p.lcl.lcl-1 Aenean massa. Cum sociis Theme et natoque