section.nb-3
		.container
			.list-sanpham
				.block-title.line-center-90.color-gray.ta-c.mb-30px.wow.fadeInUp(data-wow-delay=".2s")
					h3 SẢN PHẨM MỚI
				.row
					-for(i=1;i<7;i++)
						.list-item.col-12.col-md-6.col-lg-4.wow.fadeInUp(data-wow-delay=".2s")
							a(href="#")
								figure.hover-style-1
									.img.ov-h
										img.ofcv.lazyload.blur-up(src="./assets/images/banner/item-"+i+".png", alt="")
										figcaption
											h5.lcl.lcl-1 Lorem ipsum