section.nb-4
	.container
		.tuyen-dung
			.block-title.line-left-50.color-gray.ta-l.mb-30px.wow.fadeInUp(data-wow-delay=".2s")
				h3 TIN TUYỂN DỤNG
			.slide-hr
				.swiper-container.hr
					.swiper-wrapper
						-for(i=1;i<4;i++)
							.swiper-slide
								.row
									.col-md-12.col-lg-6.col-12
										.left-box.wow.fadeInLeft(data-wow-delay=".2s")
											img(src="./assets/images/slide/tuyen-dung.png", alt="")
									.col-lg-6.ai-c.right-box.d-f
										.content.wow.fadeInRight(data-wow-delay=".2s")
												.desc
													.ckeditor.desc-index-3.mb-30px
														.title 
															a(href="") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod AN
															br
															span Lorem ipsum
														.text-content
															p.limit-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
															ul
																li Lorem Ipsum is simply dummy text of the.
																li printing and typesetting industry.
																li Lorem Ipsum has been the industry's standard.
													a(href="#")
															.btn.view-more.fw-700.tt-u Xem Thêm
				.swiper-button-next
				.swiper-button-prev