section.dv-1
	.container
		// DANH SÁCH ỨNG DỤNG TRANG CHỦ
		.row.list-served
			.col-lg-4.title-list-applied.as-c
				.block-title.line-center-90
					h3.color-gray.mb-5px DỊCH VỤ
					p.fw-700.tt-u.color-gray Lorem Ipsum is simply dummy text
				.desc
					.ckeditor.desc-applied
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			.col-lg-4.col-sm-6.item
				figure
					a(href="dichvu-chitiet.html")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/dv-1.svg", alt="", srcset="")
						figcaption
							h3.ta-c Customer Service
			.col-lg-4.col-sm-6.item
				figure
					a(href="dichvu-chitiet.html")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/dv-2.svg", alt="", srcset="")
						figcaption
							h3.ta-c Customer Service
			.col-lg-4.col-sm-6.item
				figure
					a(href="dichvu-chitiet.html")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/dv-3.svg", alt="", srcset="")
						figcaption
							h3.ta-c Customer Service
			.col-lg-4.col-sm-6.item
				figure
					a(href="#")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/dv-4.svg", alt="", srcset="")
						figcaption
							h3.ta-c Customer Service
			.col-lg-4.col-sm-6.item
				figure
					a(href="dichvu-chitiet.html")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/dv-5.svg", alt="", srcset="")
						figcaption
							h3.ta-c Customer Service