.home-slider {
	.swiper-slide {
		overflow: hidden;

		.swiper-inner {
			display            : block;
			background-size    : cover;
			background-position: center;
		}

		img {
			opacity: 0;
		}
	}
}