section.lh-1
	.contact-section
		.container
			.row
				.col-lg-6.col-md-6.contact-form.wow.fadeInRight(data-wow-delay=".2s")
					.form-title
						h2 LIÊN HỆ VỚI CHÚNG TÔI
					form(action="#")
						input.form-control#name(name="Name" type="text" placeholder="Họ & tên")
						input.form-control#email(name="Email" type="text" placeholder="Email")
						input.form-control#phone(name="Phone" type="text" placeholder="Số điện thoại")
						textarea.form-control#content(name="Content", cols="30", rows="10" placeholder="Nội dung")
						.button
							button.btn-form(data-url="#") GỬI
				.col-lg-5.col-md-5.contact-info.wow.fadeInLeft(data-wow-delay=".2s")
					.desc.ckeditor
						h2 TESTO
						ul
							li 
								.icon
									img(src="./assets/icons/phone.svg", alt="")
								p.info +84 28 3636 7887
							li 
								.icon
									img(src="./assets/icons/mail.svg", alt="")
								p.info testo@testo.vn
							li
								.icon
									img(src="./assets/icons/location.svg", alt="")
								p.info Digi Technologies Co. Ltd. K04.23-Kingston Residence, 146 Nguyen Van Troi Ward 8, Phu Nhuan DistrictHo Chi Minh City
