section.product-detail
	.container
		.block-title.mb-30px
			h3.tt-u.fw-700.color-main testo 805 i - infrared thermometer with smartphone operation
			.code.fw-700.color-gray.tt-u Order-Nr. 0560 1805
		.row
			.col-lg-8
				.slider-product-detail
					.review-image.ov-h
						.swiper-container
							.swiper-wrapper
								-for(i=1;i<6;i++)
									.swiper-slide.ov-h
										.img
											img.ofcv(src="./assets/images/products/product-detail/1.png", alt="", srcset="")
						.swiper-button-prev
						.swiper-button-next
					.thumbnail-image.ov-h
						.swiper-container.h-100
							.swiper-wrapper
								-for(i=1;i<6;i++)
									.swiper-slide.ov-h
										img.ofcv(src="./assets/images/products/product-detail/1.png", alt="", srcset="")
			.col-lg-4
				.position-product
					.description
						.ckeditor.desc-position-product
							ul
								li
									p Lorem Ipsum is simply dummy text of the
								li 
									p Printing and typesetting industry
								li 
									p Lorem Ipsum has been the industry's standard
								li 
									p Dummy text ever since the 1500
								li
									p Lorem Ipsum is simply dummy text of the
								li 
									p Printing and typesetting industry
								li 
									p Lorem Ipsum has been the industry's standard
								li 
									p Dummy text ever since the 1500