// BANNER CHÍNH CỦA WEBSITE
.block-banner.main-page-slider
	.swiper-container
		.swiper-wrapper
			-for(i=1;i<8;i++)
				.swiper-slide
					a.swiper-inner( href="#" style="background-image: url(./assets/images/banner/b-"+i+".jpg")
						figure.ov-h
							img(class="ofcv" src="./assets/images/banner/b-"+i+".jpg", alt="")
		.swiper-pagination