.new-detail{
	margin-left: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	.new-detail-block{
		margin: 0 138px;
		.new-content{
			.content{
				overflow: hidden;
				.block-title{
					h3{
						font-size: 20px;
						@media(max-width: 1025px){
							font-size: 18px;
						}
					}
				}
				.img{
					width: 100%;
					max-height: 550px;
					margin-bottom: 30px;
				}
				.desc-new-detail{
					p {
						color: #707070;
						font-weight: 300;
						text-align: justify;
					}
					ul {
						list-style: none;
						padding-left: 0;
						li {
							position: relative;
							padding-left: 25px;
							margin-bottom: 5px;
						}
					}
					@media (max-width: 1024.98px) {
						p {
							font-size: 14px;
						}
					}
				}
			}
		}
		.aside-new{
			.content{
				padding-left: 25px;
				.block-title{
					h3{
						font-size: 20px;
						@media(max-width: 1025px){
							font-size: 18px;
						}
					}
				}
				a{
					figure{
						margin-bottom: 20px;
						overflow: hidden;
						.img{
							max-width: 100%;
							img{
								-webkit-transform: scale(1);
								transform: scale(1);
								-webkit-transition: .5s ease-in-out;
								transition: .5s ease-in-out;
								&:hover{
									-webkit-transform: scale(1.1);
									transform: scale(1.1);
								}
								@media (max-width: 1025px) {
									pointer-events: none;
								}
							}
						}
						figcaption{
							overflow: hidden;
							max-height: 50px;
							p{
								font-size: 16px;
								color: #545454;
								font-weight: 500;
							}
						}
					}
				}
				@media(max-width: 1025px){
					margin-top: 30px;
					padding: 0;
				}
			}
		}
		@media(max-width: 1438.98px){
			margin: 0;
		}
	}
	@media(max-width: 1024.98px){
		margin-top: 25px;
		margin-bottom: 25px;
	}
}