.c-t-6{
	padding-bottom: 50px;
	.download-public{
		padding: 0 78px;
		.box-left{
			padding: 0;
			.download-slide{
				padding: 0	;
				.img{
					width: 100%;
					img{
						width: 100%;
					}
				}
			}
			.swiper-button-prev {
				width: 70px;
				height: 70px;
				top: 50%;
				left: -35px;
				z-index: 999;
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url(..\assets\icons\back-slide.png);
				}
				@media(max-width: 1025px) {
					display: none;
				}
			}
			.swiper-button-next {
				width: 70px;
				height: 70px;
				top: 50%;
				right: -35px;
				z-index: 999;
				&::after {
					content: '';
					width: 100%;
					height: 100%;
					background-size: cover;
					background-repeat: no-repeat;
					background-image: url(..\assets\icons\next.png);
				}
				@media(max-width: 1025px) {
					display: none;
				}
			}
		}
		.box-right{
			width: 100%;
			padding: 0;
			background-color: #DAE4EA;
			display: flex;
			align-items: center;
			.content{
				width: 100%;
				margin: auto;
				.block-title{
					h3{
						font-size: 16px;
					}
				}
				.list-download{
					width: 480px;
					ul{
						.list-item{
							list-style: url('../assets/icons/noun_Download_1640716.png');
							margin-bottom: 20px;
							.list-link{
								padding-left: 10px;
							}
						}
					}
				}
				@media(max-width: 1500px){
					max-width: 520px;
				}
			}
		}
		@media(max-width: 1025px){
			padding: 0;
		}
	}
}