.c-t-5{
	padding-bottom: 50px;
	.service-tech-block{
		padding: 0 78px;
		.desc{
			.title{
				h3{
					font-size: 16px;
				}
				h5{
					font-size: 16px;
					color: #FF9E0C;
				}
			}
			.ckeditor{
				ul{
					padding: 0;
					li{
						list-style: none;
						margin-bottom: 20px;
						font-size: 16px;
						color: #545454;
					}
				}
			}
		}
		@media(max-width: 1025px){
			padding: 0;
		}
	}
}