.c-t-4{
	padding-bottom: 50px;
	.block-item{
		padding: 0;
		margin: 0;
		.item{
			padding: 0;
			background-color: #DAE4EA;
			.content{
				width: 100%;
				margin: auto;
				.desc{
					.block-title{
						h3{
							font-size: 16px;
							color: #FF9E0C;
						}
					}
				}
				@media(max-width: 1500px){
					max-width: 500px;
				}
			}
			.img{
				height: 350px;
			}
		}
	}
	@media(max-width: 1025px){
		padding-bottom: 30px;
	}
}