.block-2
	.box-content
		.block-title.line-center-90.ta-c.wow.fadeInDown(data-wow-delay=".2s")
			h3.color-gray.tt-u bạn muốn nhiệt độ ở đâu ?
		ul.list-item
			-for(i=1;i<4;i++)
				li.item.wow.fadeInUp(data-wow-delay=".2s")
					a(href="#")
						figure
							img.lazyload.blur-up(data-src="./assets/icons/icons-category-product-level-2-block-2__0"+i+".svg", alt="alt")
							figcaption
								p.tt-u.ta-c.fw-700.color-gray.lcl.lcl-1 Lorem Ipsum