.block-3
	.container
		.block-title.line-left-50
			h3.tt-u.fw-700.color-gray Dụng cụ đo nhiệt độ đang sử dụng
		.desc
			.ckeditor.desc-category-product-level-2-block-3
				p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries. Lorem Ipsum is simply dummy text of the printing and typesetting industry typesetting industry .
				ul
					li
						p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
					li
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry
					li
						p Contrary to popular belief, Lorem Ipsum is not simply random text.
					li
						p Lorem Ipsum is not simply random text.