.block-1
	.container
		.introduce
			.block-title.mb-30px.wow.fadeInLeft(data-wow-delay=".2s")
				h3.tt-u.fw700.color-main Dụng cụ đo nhiệt độ và nhiệt kế cho mọi nhiệm vụ đo
			.description-category-product-level-2
				.ckeditor.desc-category-product-level-2-block-1
					p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.
					h5 Lorem Ipsum
					ul
						li
							p Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
						li
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry
						li
							p Contrary to popular belief, Lorem Ipsum is not simply random text.
						li
							p Lorem Ipsum is not simply random text.
		.list-category-product-level-2
			.block-title.line-left-50.mb-30px.wow.fadeInLeft(data-wow-delay=".4s")
				h3.tt-u.fw700.color-gray Dụng cụ đo nhiệt độ
			.row
				-for(i=1;i<7;i++)
					.item-category-product-level-2.col-lg-4.col-sm-6.wow.fadeIn(data-wow-delay=".2s")
						.block-item-general
							.item-product
								a(href="danh-muc-san-pham-cap-3.html")
									figure.hover-style-1
										.img.ov-h
											img.ofcv.lazyload.blur-up(data-src="./assets/images/products/"+i+".png", alt="")
										figcaption
											h5.lcl.lcl-1.fw-700.tt-u.ta-c Lorem Ipsum is simply
