.a-1{
	position: relative;
    width: 100%;
	margin-left: auto;
	margin-top: 50px;
	padding-bottom: 50px;
	.image-content{
		padding: 0;
		@media(max-width: 1024.98px){
			.content{
			    display: flex;
				align-items: center;
				margin: auto;
				max-width: 690px;
				height: auto;
				position: static;
			}
		}
	}
	@media(max-width: 1024.98px){
		padding-bottom: 30px;
	}
}