.a-1 {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    .image-content {
		padding: 0;
		.content{
			max-height: 390px;
			overflow-y: auto;
		}
        @media(max-width: 1024.98px) {
            .content {
				max-width: 690px;
				margin-top: 20px;
            }
        }
    }
    @media(max-width: 1024.98px) {
        padding-bottom: 30px;
    }
}