extends _components/_layout/_layout.pug

block var
	- let title = 'Danh mục sản phẩm cấp 2';
	- let bodyClass = 'category-product-level2-page';

block banner,breadcrumb
	include ./_components/_layout/_breadcrumb.pug
block main
	section.category-product-level-2
		// BLOCK 1 TRANG DANH MỤC SẢN PHẨM - CẤP 2
		include ./_components/product/category/level-2/block-1
		// BLOCK 2 TRANG DANH MỤC SẢN PHẨM - CẤP 2
		include ./_components/product/category/level-2/block-2
		// BLOCK 3 TRANG DANH MỤC SẢN PHẨM - CẤP 2
		include ./_components/product/category/level-2/block-3
		// BLOCK 4 TRANG DANH MỤC SẢN PHẨM - CẤP 2
		include ./_components/product/category/level-2/block-4
block scripts
