extends _components/_layout/_layout.pug

block var
	- let title = 'Danh mục ứng dụng cấp 2';
	- let bodyClass = 'category-applied-level2-page';

block banner,breadcrumb
	include ./_components/_layout/_breadcrumb.pug
block main
block scripts
