extends _components/_layout/_layout.pug

block var
	- let title = 'Dịch vụ-Chi tiết';
	- let bodyClass = 'dichvuchitet-page';

block banner,breadcrumb
	include .\_components\_layout\_breadcrumb
block main
	// BLOCK 1- DỊCH VỤ CHI TIẾT
	include .\_components\dichvu-chitiet\dv-ct-1.pug
	// BLOCK 2 - DỊCH VỤ CHI TIẾT
	include .\_components\dichvu-chitiet\dv-ct-2.pug
	// BLOCK 3 - DỊCH VỤ CHI TIẾT
	include .\_components\dichvu-chitiet\dv-ct-3.pug
	// BLOCK 4 - DỊCH VỤ CHI TIẾT
	include .\_components\dichvu-chitiet\dv-ct-4.pug
	// BLOCK 5 - DỊCH VỤ CHI TIẾT
	include .\_components\dichvu-chitiet\dv-ct-5.pug
	// BLOCK 6 - DỊCH VỤ CHI TIẾT
	include .\_components\dichvu-chitiet\dv-ct-6.pug
block scripts