extends _components/_layout/_layout.pug

block var
	- let title = 'Chi chiết giải pháp';
	- let bodyClass = 'solutions-detail-page';

block banner,breadcrumb
	include ./_components/_layout/_breadcrumb
block main
	section.solution-detail
		// BLOCK 1 - CHI TIẾT GIẢI PHÁP
		include ./_components/solutions/solution-detail/block-1
		// BLOCK 2 - CHI TIẾT GIẢI PHÁP
		include ./_components/solutions/solution-detail/block-2
		// BLOCK 3 - CHI TIẾT GIẢI PHÁP
		include ./_components/solutions/solution-detail/block-3
		// BLOCK 4 - CHI TIẾT GIẢI PHÁP
		include ./_components/solutions/solution-detail/block-4
		// BLOCK 5 - CHI TIẾT GIẢI PHÁP
		include ./_components/solutions/solution-detail/block-5
block scripts
