extends _components/_layout/_layout.pug

block var
	- let title = 'Chi chiết giải phần mềm';
	- let bodyClass = 'solution-detail-soft-wear-page';

block banner,breadcrumb
	include ./_components/_layout/_breadcrumb
block main
	// TRANG CHI TIẾT GIẢI PHÁP SẢN PHẨM
	include ./_components/solutions/solution-detail/solution-detail-soft-wear/block-soft-wear-1.pug
	include ./_components/solutions/solution-detail/solution-detail-soft-wear/block-soft-wear-2.pug
	include ./_components/solutions/solution-detail/solution-detail-soft-wear/block-soft-wear-3.pug
block scripts