extends _components/_layout/_layout.pug

block var
	- let title = 'Về Chúng Tôi';
	- let bodyClass = 'about-page';

block banner,breadcrumb
	include ./_components/banner/b-1
	include ./_components/_layout/_breadcrumb
block main
	// BLOCK 1 - GIỚI THIỆU
	include ./_components/gioi-thieu/a-1.pug
	// BLOCK 2 - GIỚI THIỆU
	include ./_components/gioi-thieu/a-2.pug
	// BLOCK 3 - GIỚI THIỆU
	include ./_components/gioi-thieu/a-3.pug
	// BLOCK 4 - GIỚI THIỆU
	include ./_components/gioi-thieu/a-4.pug
block scripts