extends _components/_layout/_layout.pug

block var
	- let title = 'Tin Nổi Bật';
	- let bodyClass = 'tinnoibat-page';

block banner,breadcrumb
	include ./_components/banner/b-1
	include ./_components/_layout/_breadcrumb
block main
	include ./_components/noi-bat/nb-1
	include ./_components/noi-bat/nb-2
	include ./_components/noi-bat/nb-3
	include ./_components/noi-bat/nb-4
block scripts