.c-t-2 {
	margin-bottom: 50px;

	.list-item-product {
		padding: 0 138px;

		.row {
			.item {
				padding-left: 30px;
				padding-right: 30px;
				@media(max-width: 1024.98px) {
					padding-left : 0;
					padding-right: 0;
					margin-bottom: 20px;
				}

				@media(max-width: 769px) {
					padding-right: 0;
				}
				.img{
					width: 100%;
					img{
						width: 100%;
					}
				}
			}
			.item-product{
				padding-left: 30px;
				padding-right: 30px;
			}
			@media(max-width: 1025px) {
				margin: 0;
			}
		}

		@media(max-width: 1438.98px) {
			padding: 0px;
		}
	}

	@media(max-width: 1025px) {
		padding-bottom: 10px;
	}
}