.c-t-4{
	padding-bottom: 50px;
	.block-item{
		padding: 0;
		.image-content{
			.content{
				max-width: 625px;
			}
			.image{
				height: 350px;
			}
			@media(max-width: 1024.98px){
				max-height: 350px;
				.content{
					margin: auto;
					position: static;
					max-width: 100%;
				}
			}
		}
	}
	@media(max-width: 1024.98px){
		padding-bottom: 30px;
	}
}