section.a-1
	.container-fluid
		.block-title.line.color-gray.ta-l.mb-30px
			h3 VỀ TESTO
	.info-testo
		.row
			.col-lg-6.p-0
				.info-banner
					img(src="./assets/images/banner/about-info-1.png", alt="")
			.col-lg-6.p-0
				.content
					.desc
						.ckeditor.desc-index-3.mb-3
							h3.title-content Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							span Lorem ipsum
							.text-content
								p.limit-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			.col-lg-6.p-0
				.info-content
					.list-item
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
						ul
							li Lorem Ipsum is simply dummy text of the printing and typesetting industry
							li Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
							li when an unknown printer took a galley of type and scrambled it to make a type specimen 
							li It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			.col-lg-6.p-0
				.info-banner
					img(src="./assets/images/banner/about-info-2.png", alt="")