section.c-t-5
	.container
		.service-tech-block
			.block-title.color-gray.ta-l.mb-15px.tt-u
				h3 dịch vụ công nghiệp Testo - đối tác của bạn để hiệu chuẩn và xác nhận
			.desc
				.title.color-gray.ta-l.mb-30px.tt-u
					h3 Lorem Ipsum is simply dummy text
					h5.tt-c Lorem Ipsum
				.ckeditor.desc-applied
					p.fw-400.color-gray.limit.limit-2.mb-20px
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
					ul.mb-30px
						li Lorem Ipsum is simply dummy text of the.
						li Printing and typesetting industry.
						li  Lorem Ipsum has been the industry's standard.
					a(href="#")
						.btn.view-more.fw-700.tt-u Xem Thêm