section.c-t-4
	.container-fluid.p-0
		.row.block-item
			.col-lg-6.col-md-6.col-12.item
				.content
					.desc
						.block-title.color-gray.ta-l.mb-30px.tt-u
							h3 Lorem Ipsum is simply dummy text
							h5.tt-c Lorem Ipsum
						.ckeditor.desc-applied.mb-30px
							p.fw-400.color-gray
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
						.ckeditor.desc-applied
							h5.tt-c Lorem Ipsum
							p.fw-400.color-gray
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			.col-lg-6.col-md-6.col-12.item
				.img
					img(src="./assets/images/banner/ct-1.png", alt="")
			.col-lg-6.col-md-6.col-12.item
				.img
					img(src="./assets/images/banner/ct-2.png", alt="")
			.col-lg-6.col-md-6.col-12.item
				.content
					.desc
						.block-title.color-gray.ta-l.mb-30px.tt-u
							h3 Lorem Ipsum is simply dummy text
							h5.tt-c Lorem Ipsum
						.ckeditor.desc-applied
							p.fw-400.color-gray
								|Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.