section.c-t-2
	.container
		.row
			.list-item
				.block-title.line.color-gray.ta-l.mb-30px.tt-u
					h3 kiến thức cơ bản
				-for(i=1;i<4;i++)
					.col-lg-4.col-md-6.col-12.item
						a(href="")
							figure
								.img.ov-h
									img(src="./assets/images/banner/sk-"+i+".png", alt="")
