section.c-t-4
	.container
		.block-title.line.color-gray.ta-l.mb-30px.tt-u
			h3 Lorem Ipsum is simply dummy text
		.content
			.desc
				.block-title.line.color-gray.ta-l.mb-30px.tt-u
					h3 Lorem Ipsum is simply dummy text
					h5.tt-c Lorem Ipsum