section.c-t-3
	.container
		.block-content
			.block-title.color-gray.ta-l.mb-15px.tt-u
				h3 hiệu xuất và xác nhận
			.desc
				.ckeditor.desc-applied
					p.fw-400.color-gray.limit-2
						|Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem Ipsum is simply dummy text of the printing and typesetting industry.