section.c-t-6
	.container
		.block-title.color-gray.ta-l.mb-30px.tt-u
			h3 Tải xuống phổ biến từ Testo
		.download-public
		.row
			.col-lg-6.col-md-6.col-12.box-left
				.swiper-container.download-slide
					.swiper-wrapper
						-for(i=1;i<4;i++)
							.swiper-slide
								a(href="")
									.img.ov-h
										img(src="./assets/images/slide/download-slide.png", alt="")
					.swiper-button-prev
					.swiper-button-next
			.col-lg-6.col-md-6.col-12.box-right
				.content
					.desc
						.ckeditor.desc-applied.mb-30px
							.title.tt-u.ta-l.mb-30px
								a(href="") lorem ipsum
							.list-download
								ul
									-for(i=1;i<8;i++)
										li.list-item
											a.list-link(href="")
												|Software DataControl (EXE, 188'067 KB)