section.c-t-2
	.container
		.list-item
			.block-title.color-gray.ta-l.mb-30px.tt-u
				h3 kiến thức cơ bản
			.row
				-for(i=1;i<3;i++)
					.col-lg-4.col-md-6.col-12.item
						a(href="")
							figure.hover-style-1
								.img.ov-h
									img.ofcv.blur-up.lazyloaded(src="./assets/images/banner/sk-"+i+".png", alt="")
									figcaption
										h3.ta-c.tt-u Lorem ipsum dolor
				.col-lg-4.col-md-6.col-12.item
					figure.hover-style-1
						.img.ov-h
							img.ofcv.blur-up.lazyloaded(src="./assets/images/banner/sk-"+i+".png", alt="")
							figcaption
								h3.ta-c.tt-u Lorem ipsum dolor
							.isVideo