section.nb-2
	.tech-sec
		.container-fluid
			.row
				.col-lg-6.p-0
					.tech-left
						img(src="./assets/img/banner/testo-549i-pressure_master.png", alt="")
				.col-lg-6
					.tech-right
						.title-sec
							h2 CÔNG NGHỆ ĐO LƯỜNG
						.row
							.tech-block.col-md-6
								figure
									img(src="./assets/img/icons/tech-block1.png", alt="")
									figcaption
										h2 Lorem ipsum 
										p Aenean massa. Cum sociis Theme et natoque 
							.tech-block.col-md-6
								figure
									img(src="./assets/img/icons/noun_smart_2115348.png", alt="")
									figcaption
										h2 Lorem ipsum 
										p Aenean massa. Cum sociis Theme et natoque
							.tech-block.col-md-6
								figure
									img(src="./assets/img/icons/noun_help_2436429.png", alt="")
									figcaption
										h2 Lorem ipsum 
										p Aenean massa. Cum sociis Theme et natoque
							.tech-block.col-md-6
								figure
									img(src="./assets/img/icons/noun_success_2436430.png", alt="")
									figcaption
										h2 Lorem ipsum 
										p Aenean massa. Cum sociis Theme et natoque