section.nb-3
	.list-sanpham
		.container
			.block-title.line.color-gray.ta-c.mb-30px
				h3 SẢN PHẨM MỚI
			.row
				-for(i=1;i<7;i++)
					.col-12.col-md-6.col-lg-4
						.list-item
							a(href="#")
								figure.hover-style-1
									img(src="./assets/images/banner/item-"+i+".png", alt="")
									figcaption
										p Lorem ipsum