section.nb-4
	.container
		.block-title.line.color-gray.ta-l.mb-30px
			h3 TIN TUYỂN DỤNG
		.swiper-container.tuyen-dung
			.swiper-wrapper
				.swiper-slide
					.row
						.col-md-12.col-lg-6.col-12
							.left-box
								img(src="./assets/images/slide/tuyen-dung.png", alt="")
						.col-lg-6.ai-c.right-box.d-f
							.content
									.desc
										.ckeditor.desc-index-3.mb-3
											.title 
												a(href="") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod AN
												br
												span Lorem ipsum
											.text-content
												p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
												ul
													li Lorem Ipsum is simply dummy text of the.
													li printing and typesetting industry.
													li Lorem Ipsum has been the industry's standard.
										a(href="#")
											.btn.view-more.fw-700.tt-u Xem Thêm
		//- .swiper-button-next
		.swiper-button-prev