.blur-up {
	filter    : blur(10px);
	transition: filter 1s;

	&.lazy-loaded {
		filter: blur(0);
	}
}

.pt-70 {
	padding-top: 70px;

	@media (max-width: 1199.98px) {
		padding-top: 50px;
	}

	@media (max-width: 768px) {
		padding-top: 30px;
	}
}

.pb-70 {
	padding-bottom: 70px;

	@media (max-width: 1199.98px) {
		padding-bottom: 50px;
	}

	@media (max-width: 768px) {
		padding-bottom: 30px;
	}
}

.pd-70 {
	padding-top   : 70px;
	padding-bottom: 70px;

	@media (max-width: 1199.98px) {
		padding-top   : 50px;
		padding-bottom: 50px;
	}

	@media (max-width: 768px) {
		padding-top   : 30px;
		padding-bottom: 30px;
	}
}
.p-0{
	padding: 0;
}
// Forms
.form-control {
	padding: 7px 15px;
	resize : none;

	&.bd-input {
		border: 1px solid #707070;
	}

	&.bdr-input {
		border-radius: 10px;
	}

	&.line-height-45 {
		line-height: 45px;
	}
}
.title-sec{
	float: left;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
	h2{
		line-height: 50px;
		font-size: 30px;
		font-weight: 600;
		color: $title-sec-color;
		@media(max-width: 1025px){
			font-size: 25px;
		}
	}
	&::before{
		content: '';
		position: absolute;
		bottom: 10%;
		left: 0;
		width: 115px;
		height: 3px;
		background-color: $title-before;
	}
	@media(max-width: 1025px){
		margin-bottom: 20px;
	}
}
.swiper-button-prev{
	position: absolute;
	width: 53px;
	height: 53px;
	background-image: url(..\assets\img\icons\back-slide.png);
	background-repeat: no-repeat;
	background-size: cover;
	left: -2%;
	&::after{
		content: '';
	}
	@media (max-width: 1025px) {
		display: none;
	}
}
.swiper-button-next{
	position: absolute;
	width: 53px;
	height: 53px;
	background-image: url(..\assets\img\icons\next.png);
	background-repeat: no-repeat;
	background-size: cover;
	right: -2%;
	&::after{
		content: '';
	}
	@media (max-width: 1025px) {
		display: none;
	}
}
.m-auto{
	margin: auto;
}