.a-2{
	position: relative;
    width: 100%;
	float: left;
	padding-bottom: 50px;
	.line{
		h3{
			&::after{
				width: 50%;
			}
		}
	}
	.member-slide{
		width: 100%;
	
		.swiper-wrapper{
			width: 100%;
			.swiper-slide{
				position: relative;
				.slide-box{
					width: 100%;
					background-color: #DAE4EA;
					padding: 20px 0 0;
					.img-slide{
						width: 180px;
						height: 180px;
						margin: 20px auto;
						padding: 0;
						img{
							width: 100%;
							height: 100%;
							border-radius: 50%;
							border: solid 2px #FF9E0C;
						}
					}
					.slide-text{
						width: 100%;
						text-align: center;
						padding: 30px 0 30px;
						h2{
							font-size: 16px;
							color: #FF9E0C;
							font-weight: 700;
							font-style: italic;
						}
						p{
							font-size: 16px;
							color: #545454;
							font-weight: 400;
						}
					}
				}
			}
			
		}
	}
	.swiper-button-prev {
		width: 70px;
		height: 70px;
		top: 50%;
		left: -35px;
		z-index: 999;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(..\assets\icons\back-slide.png);
		}

		@media(max-width: 1025px) {
			display: none;
		}
	}
	.swiper-button-next {
		width: 70px;
		height: 70px;
		top: 50%;
		right: -35px;
		z-index: 999;

		&::after {
			content: '';
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-image: url(..\assets\icons\next.png);
		}

		@media(max-width: 1025px) {
			display: none;
		}
	}
}