section.index-1
	.block-banner.home-slider
		.swiper-container
			.swiper-wrapper
				-for(i=1;i<5;i++)
					.swiper-slide
						a.swiper-inner( href="#" style="background-image: url('./assets/images/index/home-banner.png')")
							figure.ov-h
								img(class="ofcv" src="./assets/images/index/home-banner.png", alt="")
			.swiper-pagination