section.index-1
	.container
		.block-title.line-center-90.color-gray.ta-c.mb-30px
			h3 SẢN PHẨM
		// SLIDE SẢN PHẨM TRANG CHỦ
		.slider-product.home-product
			.swiper-container
				.swiper-wrapper
					-for(i=1;i<5;i++)
						.swiper-slide
							figure.hover-style-1
								a(href="danh-muc-san-pham-cap-2.html")
									.img.ov-h
										img(class="ofcv" src="./assets/images/index/home-pro-"+i+".png", alt="", srcset="")
									figcaption.ta-c
										h4.fw-700.tt-u.lcl.lcl-1 ĐIỀU HÒA NHIỆT ĐỘ / ĐIỆN LẠNH
										p.lcl.lcl-2 It has survived not only five centuries, but also the leap into electronic typesetting.
										button.btn.view-more.fw-700.tt-u(href="san-phan-chi-tiet.html") xem thêm
			.swiper-button-prev
			.swiper-button-next