section.index-2
	.container-fluid.p-0
		.row.no-gutters.ai-c
			.col-lg-6.box-left
				.img.ov-h.mobile
					img.blur-up.lazyload.ofcv(data-src="./assets/images/index/index-3.png", alt="")
				.content
					.block-title
						.icon-title.d-f.ai-c.mb-15px
							img.blur-up.lazyload(data-src="./assets/icons/title-about.svg", alt="")
							h3.color-gray VỀ TESTO
						p.fw-700.tt-u.color-gray.lcl.lcl-2 Lorem Ipsum is simply dummy text of the printing and industry, has been the industry's standard.
					.desc.ov-h
						.ckeditor.desc-index-3
							p when an unknown printer took a galley of type and scrambled it to make a type specimen book.It has survived not only five centuries. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					a.btn.view-more.fw-700.tt-u(href="san-phan-chi-tiet.html") xem thêm
			.col-lg-6.dekstop
				.img.ov-h
					img.blur-up.lazyload.ofcv(data-src="./assets/images/index/index-3.png", alt="")