section.index-3
	.container
		.row.list-applied
			.col-lg-4.title-list-applied.as-c
				.block-title.line
					h3.color-gray.mb-5px ỨNG DỤNG
					p.fw-700.tt-u.color-gray Lorem Ipsum is simply dummy text
				.desc
					.ckeditor.desc-applied
						p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
			.col-lg-4.col-md-6.item
				figure
					a(href="#")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/applied-1.svg", alt="", srcset="")
						figcaption
							h3.ta-c Hệ thống sưởi, thông gió,
								br
								| điều hòa không khí, điện lạnh
			.col-lg-4.col-md-6.item
				figure
					a(href="#")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/applied-2.svg", alt="", srcset="")
						figcaption
							h3.ta-c Hệ thống sưởi, thông gió,
								br
								| điều hòa không khí, điện lạnh
			.col-lg-4.col-md-6.item
				figure
					a(href="#")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/applied-3.svg", alt="", srcset="")
						figcaption
							h3.ta-c Hệ thống sưởi, thông gió,
								br
								| điều hòa không khí, điện lạnh
			.col-lg-4.col-md-6.item
				figure
					a(href="#")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/applied-4.svg", alt="", srcset="")
						figcaption
							h3.ta-c Hệ thống sưởi, thông gió,
								br
								| điều hòa không khí, điện lạnh
			.col-lg-4.col-md-6.item
				figure
					a(href="#")
						.img.ov-h
							img.blur-up.lazyload(data-src="./assets/icons/applied-5.svg", alt="", srcset="")
						figcaption
							h3.ta-c Hệ thống sưởi, thông gió,
								br
								| điều hòa không khí, điện lạnh