section.index-4
	.container-fluid.p-0
		.row.no-gutters.ai-c
			.col-md-6
				a(data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk")
					.img.ov-h.isVideo(data-getHeight)
						img.blur-up.lazyload.ofcv(data-src="./assets/images/index/index-4.png", alt="")
			.col-md-6.box-right.ov-h(data-setHeight)
				.content
					.block-title.mb-15px
						h3.tt-u.color-gray công nghệ đo lường tốt nhất
					.desc
						.ckeditor.desc-index-5
							p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum.
							ul
								li
									h4 NEW: TESTO 400
									p Air flow and IAQ measurement improved to the max
								li
									h4 TOP PRODUCT: TESTO 350
									p Emission measurement on combined heat and power systems
								li
									h4 Smart measurement
									p We connect measurement technology to the digital world
								li
									h4 HomeServices
									p Services concerning measurement